@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.truck-scene {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100px;
  overflow: hidden; /* so truck disappears off screen */
}

.box {
  position: absolute;
  left: 20px;
  top: 40px;
  width: 40px;
  height: 40px;
  /* background: #fbbf24; amber box */
  border-radius: 4px;
  animation: loadBox 1.5s forwards;
}

.truck {
  position: absolute;
  left: 0;
  top: 30px;
  font-size: 3rem;
  animation: driveTruck 4s forwards ease-in-out;
  animation-delay: 1.5s; /* starts after box loads */
}

@keyframes loadBox {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes driveTruck {
  0% { transform: translateX(0); }
  100% { transform: translateX(100vw); } /* moves across screen */
}

